<app-header></app-header>

<div class="margin" style="margin-top: 60px;" ></div>
 <!-- Page Header Start -->
 <div class="container-fluid page-header mb-5 py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Refund Policy</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                <li class="breadcrumb-item text-white active" aria-current="page">Refund Policy</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
 

<!-- terms&conditions start-->

<div class="card-body">
  <div class="container content-wrapper body-content">
      <div class="row margin-top-60 margin-bottom-60">
              <div class="col-md-12 col-sm-12"> 
          <div id="post-569" class="blog page post-569 type-page status-publish hentry">
      
      <div class="entry-content">
          <p style="text-align: center;"><strong>Refund Policy</strong></p>
  <p><strong>1. Refund of Account Balance</strong></p>
  <p>Subscriber of the Operators under <strong> AS Digitech Innovations Pvt Ltd </strong>(‘Company’)will be eligible to receive a refund of the Account Balance (‘Refund’) as per the terms provided in this Refund Policy. </p>
  <p>Subscribers will be eligible to receive a Refund of their Account Balance on deactivation/termination of his/her Subscriber Account (‘Cancellation’). Subscriber may cancel or completely discontinue availing all the Services provided by the Company by contacting the Company. However, Company reserves the right to refuse such deactivation request if the subscription of any of the Service is within the lock-in period or minimum period guarantee which was declared by the Company related to a specific Scheme. In such an instance the Company reserves the right to make the Cancellation request made by the Subscriber, effective from the date on which such lock-in period or minimum period guarantee comes to an end.</p>
  <p><strong>2. No Refund in the following cases:</strong></p>
  <p>On suspension of a particular Service for a temporary period when requested by a Subscriber;</p>
  <p>Suspension of Service by the Company: (i) to carry out maintenance or testing; (ii) to safeguard the security and integrity of the Services or for technical purposes; or (iii) if so directed by the government.</p>
  <p><strong>3. How to Cancel Subscriber Account?</strong></p>
  <p>To cancel his/her Subscriber Account Subscriber can place a request for Cancellation with the Company by any of the following methods:</p>
  <p>By calling the respective operators support numbers or</p>
  <p>By Emailing to the email id provided in the payment page; or</p>
  <p>By contacting the respective collection agents.</p>
  <p><strong>4. Process of Refund:</strong></p>
  <p>Subscriber must initiate the Cancellation request by any one of the methods as provided in para ‘3’ above;</p>
  <p>Company shall process the Refund to Subscriber’s bank account hence Subscriber must submit a copy of the cancelled cheque to the Company to initiate NEFT and any other information/documents as required by the Company;</p>
  <p>Company will process the Refund amount within 20 Business Days of receipt of the Cancellation request, required documents and successful return of CPE by Subscriber to the Company (if applicable).</p>
  <p><strong>5. Terms and Conditions:</strong></p>
  <p>The Company will refund only the balance in the Subscriber Account after all costs, charges and expenses that the Company may incur are adjusted.</p>
  <p>The Refund processed by the Company shall only be of the unutilized Account Balance in the Subscriber Account remaining at the time of the Cancellation, and shall not include either of the following: cost towards CPE purchased by the Subscriber, CPE Rental, Network Capacity Fee, Installation Fee, Activation Charges, Subscription Fees, or Tax collected by the Company or payable to the Company, unless otherwise agreed by the Company.</p>
  <p>All refunds shall be made via NEFT only, no cash refund shall be made to any Subscriber;</p>
  <p>Subscribers who have cancelled their Subscriber Account and taken Refund will not be allowed to reactivate the connection.</p>
  <p>Subscriber will have to share the scanned copy of cancelled cheque to initiate NEFT.</p>
  <p>In the event the Company requires any Subscriber to provide any required information, including documents to initiate the Cancellation process and eligibility of Refund amount, then such Subscriber shall provide such information and documents to the Company.p&gt;
  </p><p>The Company reserves the right at any time, without prior notice, without assigning any reason and without any liability whatsoever, to add or vary all or any of the terms and conditions or to replace, wholly or in part the Refund Policy.</p>
  <p>All capitalized terms used herein shall have the same meaning as ascribed to them in the Subscription Contract.</p>
  <p>In the event of any inconsistency between the Subscription Contract and these terms and conditions, in so far as this Refund Policy is concerned, the later shall prevail.</p>
  <p><strong>Returns</strong></p>
  <p>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately, we can’t offer you a refund.</p>
  <p><strong>Late or missing refunds (if applicable)</strong></p>
  <p>If you haven’t received a refund yet, first check your bank account again.</p>
  <p>Then contact your credit card company, it may take some time before your refund is officially posted.</p>
  <p>Next, contact your bank. There is often some processing time before a refund is posted.</p>
  <p>If you’ve done all of this and you still have not received your refund yet, please contact us at<strong>asdigitechinnovations@gmail.com</strong> for further clarifications.</p>
  <p><strong>Shipping</strong></p>
  <p>To return your product, you should mail your product to <strong>T-Hub, Plot No 1/C, Sy No 83/1, Raidurgam, Knowledge City Rd, panmaktha, Hyderabad, Serilingampalle (M), Telangana 500081</strong></p>
  <p>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</p>
  <p>Depending on where you live, the time it may take for your exchanged product to reach you may vary.</p>
  <p>If you are shipping an item priced over Rupees 5000, you should consider using a traceable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.</p>
          
              </div><!-- .entry-content -->
  
  </div>       </div>
              </div>
  </div>
</div>
<!-- terms&conditions end-->

<app-footer></app-footer>