     <app-header></app-header>
     <div class="margin" style="margin-top: 60px;" ></div>
     <!-- Carousel Start -->
     <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../../assets/learnimg.jpeg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">IT Solutions & Services</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Innovative Technology Solutions by AS Digitech Innovations</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2 text-justify" >At AS Digitech Innovations, we are more than just a service provider; we are your partner in digital transformation. Our mission is to bring your digital vision to life, whether you're a budding startup eager to make a mark or an established enterprise aiming to innovate and expand. Our comprehensive suite of services, including web development, app development, e-commerce solutions, and digital marketing, is designed to enhance your brand's visibility and engage your audience effectively</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- Web Development Service -->
            <section id="web">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row">
                    <div class="service-item position-relative overflow-hidden bg-light rounded mb-4">
                        <div class="text-center">
                            <img class="img-fluid mx-auto" src="../../assets/service1.avif" alt="Web Development" style="width: 70%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="text-center mb-3 fw-bold fs-1">Web Development</h5> <!-- Centered heading -->
                    <p class="text-justify">Our web development services are centered around creating websites that are not only visually appealing but also highly functional and user-friendly. We recognize that your website is often the first point of contact between your brand and potential customers, and we strive to make that initial interaction impactful and memorable. Here’s how we approach web development to ensure that your online presence effectively supports your business goals:</p> 
                    <ul class="text-justify"> 
                        <li><strong>Custom Web Design:</strong> We design websites that reflect your brand’s identity and values. Our designers create visually engaging and unique designs that capture your audience's attention while maintaining a consistent and professional appearance across all pages.</li> 
                        <li><strong>Responsive Design:</strong> In today’s multi-device world, it’s crucial that your website performs well on desktops, tablets, and smartphones. We ensure that your site is fully responsive, providing an optimal viewing experience regardless of screen size or device.</li> 
                        <li><strong>Cutting-Edge Technologies:</strong> We leverage the latest technologies such as Angular, React, and Laravel to build robust and dynamic websites. These technologies enable us to create interactive features, smooth user interfaces, and efficient back-end systems that enhance performance and scalability.</li> 
                        <li><strong>Performance Optimization:</strong> A fast-loading website is essential for retaining visitors and improving search engine rankings. We optimize your website’s performance by minimizing load times, optimizing images, and implementing best practices to ensure a smooth and responsive user experience.</li> 
                        <li><strong>Security Measures:</strong> Protecting your website and user data is a top priority. We implement the latest security protocols and best practices to safeguard your site from vulnerabilities and cyber threats, ensuring a secure environment for your users.</li> 
                        <li><strong>Content Management Systems (CMS):</strong> For easy content updates and management, we offer CMS solutions tailored to your needs. Whether you prefer WordPress, Drupal, or a custom CMS, we provide training and support to help you manage your site effectively.</li> 
                        <li><strong>SEO-Friendly Development:</strong> To help your website rank well in search engine results, we incorporate SEO best practices into the development process. This includes optimizing site structure, meta tags, and content to improve visibility and drive organic traffic.</li> 
                        <li><strong>Integration and Scalability:</strong> We ensure that your website integrates seamlessly with third-party tools and services, such as CRM systems, e-commerce platforms, and social media. Additionally, our solutions are designed to scale with your business, accommodating future growth and additional features as needed.</li> 
                        <li><strong>Testing and Quality Assurance:</strong> Before launch, we rigorously test your website to identify and resolve any issues. Our QA process ensures that all features work correctly, and that the site performs well across different browsers and devices.</li> 
                        <li><strong>Ongoing Support and Maintenance:</strong> After your website goes live, we provide ongoing support and maintenance to address any issues, update content, and ensure that your site remains current with evolving technologies and industry standards.</li> 
                    </ul> 
                    <p class="text-justify">At AS Digitech Innovations, our mission is to deliver web solutions that not only meet but exceed your expectations. Whether you need a simple landing page or a complex web application, our team of experts is dedicated to crafting solutions that are tailored to your unique needs and designed to drive your business forward. We take pride in our ability to blend creativity with functionality to build websites that make a lasting impression and deliver tangible results.</p>
                </div>
            </div>
           </section>
        </div>
    </div>
    
    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- App Development Service -->
           <section id="app">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row">
                    <div class="service-item position-relative overflow-hidden bg-light rounded mb-4">
                        <div class="text-center">
                            <img class="img-fluid mx-auto" src="../../assets/service5.avif" alt="App Development" style="width: 70%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="text-center mb-3 fw-bold fs-1">App Development</h5> <!-- Centered heading -->
                    <p class="text-justify">In today’s mobile-first world, having a robust mobile app is no longer a luxury—it's a necessity. At AS Digitech Innovations, we specialize in creating custom mobile applications that provide a seamless and engaging user experience across all devices. Our comprehensive approach to mobile app development ensures that every aspect of your app is crafted with precision and creativity.</p> 
                    <ul class="text-justify"> 
                        <li><strong>Concept and Strategy:</strong> We start by understanding your business goals and target audience. Our team collaborates with you to define the app’s objectives, features, and functionality. This strategic planning phase lays the foundation for a successful app that aligns with your vision and market needs.</li> 
                        <li><strong>UI/UX Design:</strong> We design intuitive and visually appealing user interfaces that enhance the overall user experience. Our UI/UX designers focus on creating an app that is not only aesthetically pleasing but also easy to navigate, ensuring that users have a smooth and enjoyable experience.</li> 
                        <li><strong>Development:</strong> Our skilled developers use the latest technologies and best practices to bring your app to life. Whether you're targeting Android, iOS, or both platforms, we ensure that your app is built to perform optimally and integrate seamlessly with various device functionalities.</li> 
                        <li><strong>Testing and Quality Assurance:</strong> Rigorous testing is crucial to delivering a reliable and bug-free app. We conduct comprehensive quality assurance testing to identify and resolve any issues before launch, ensuring that your app performs flawlessly across all devices and operating systems.</li> 
                        <li><strong>Deployment:</strong> We handle the entire deployment process, including submission to app stores such as Google Play and the Apple App Store. Our team ensures that all requirements are met and that your app is published successfully, making it accessible to your target audience.</li> 
                        <li><strong>Maintenance and Support:</strong> Post-launch support is essential for maintaining app performance and user satisfaction. We offer ongoing maintenance and updates to address any issues, add new features, and keep your app current with the latest technological advancements.</li> 
                        <li><strong>Analytics and Insights:</strong> To help you understand user behavior and app performance, we integrate analytics tools that provide valuable insights. This data-driven approach allows us to make informed decisions and continuously improve your app’s functionality and user experience.</li> 
                    </ul> 
                    <p class="text-justify">At AS Digitech Innovations, we are committed to delivering mobile applications that not only meet your functional requirements but also provide an exceptional user experience. Our dedicated team of developers and designers work collaboratively to ensure that your app stands out in a competitive market and delivers value to your users. From concept to launch and beyond, we are here to support you every step of the way, making sure your mobile app achieves its full potential.</p>
                </div>
            </div>
           </section>
        </div>
    </div>
    
    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- UI/UX Development Service -->
            <section id="ui">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row">
                    <div class="service-item position-relative overflow-hidden bg-light rounded mb-4">
                        <div class="text-center">
                            <img class="img-fluid mx-auto" src="../../assets/service3.avif" alt="UI/UX Development" style="width: 70%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="text-center mb-3 fw-bold fs-1">UI/UX Development</h5> <!-- Centered heading -->
                    <p class="text-justify">User experience (UX) and user interface (UI) design are crucial elements in the success of any digital product. At AS Digitech Innovations, we place user experience at the core of our design philosophy, ensuring that every interaction with your product is both enjoyable and efficient. Our approach encompasses several key aspects:</p> 
                    <ul class="text-justify"> 
                        <li><strong>User Research:</strong> We start by understanding your target audience through comprehensive user research. This includes analyzing user behavior, preferences, and pain points to inform the design process. By gaining insights into what users need and expect, we create designs that meet their requirements and exceed their expectations.</li> 
                        <li><strong>Wireframing and Prototyping:</strong> Our team develops wireframes and prototypes to visualize the structure and functionality of your product before moving to the final design. This iterative process allows us to refine and test ideas, ensuring that the end result is user-friendly and aligned with your goals.</li> 
                        <li><strong>Visual Design:</strong> We focus on creating visually appealing designs that align with your brand identity. Our UI designers use color schemes, typography, and imagery that resonate with your audience and enhance the overall aesthetic of your product.</li> 
                        <li><strong>Interaction Design:</strong> Designing intuitive and interactive elements is crucial for a positive user experience. We ensure that all interactive components, such as buttons and navigation menus, are easy to use and respond to user actions seamlessly.</li> 
                        <li><strong>Usability Testing:</strong> We conduct usability testing to gather feedback from real users. This helps us identify any issues or areas for improvement, allowing us to make data-driven adjustments to enhance the user experience.</li> 
                        <li><strong>Responsive Design:</strong> In today’s multi-device world, it’s essential that your product looks and functions well on all screen sizes. Our designs are responsive, ensuring a consistent and enjoyable experience across desktops, tablets, and smartphones.</li> 
                    </ul> 
                    <p class="text-justify">Our goal is to create interfaces that are not only visually stunning but also highly functional and easy to navigate. We aim to craft user experiences that are engaging, intuitive, and aligned with your business objectives. By prioritizing user needs and leveraging the latest design trends and technologies, we deliver products that leave a lasting impression and drive user satisfaction.</p> 
                    <p class="text-justify">At AS Digitech Innovations, we understand that a well-designed UI/UX is fundamental to the success of your digital product. Our dedicated team is committed to delivering exceptional designs that elevate your brand and provide a seamless user experience that fosters engagement and loyalty.</p>
                </div>
            </div>
            </section>
        </div>
    </div>
    
    <div class="container py-5">
        <div class="row justify-content-center">
            <!-- Digital Marketing Service -->
            <section id="digital">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row">
                    <div class="service-item position-relative overflow-hidden bg-light rounded mb-4">
                        <div class="text-center">
                            <img class="img-fluid mx-auto" src="../../assets/service4.avif" alt="Digital Marketing" style="width: 70%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 class="text-center mb-3 fw-bold fs-1">Digital Marketing</h5> <!-- Centered heading -->
                    <p class="text-justify">In a digital world, visibility is key. Our digital marketing services are designed to ensure that your brand gets the attention it deserves. We offer a comprehensive suite of marketing solutions tailored to meet your unique needs and objectives. Our services include:</p> 
                    <ul class="text-justify"> 
                        <li><strong>Search Engine Optimization (SEO):</strong> Enhance your website's visibility on search engines like Google. Our SEO strategies are designed to improve your rankings, drive organic traffic, and increase your online presence through keyword optimization, link building, and technical SEO.</li> 
                        <li><strong>Social Media Marketing:</strong> Engage with your audience on platforms such as Facebook, Instagram, and LinkedIn. We create and manage social media campaigns that resonate with your target audience, increase brand awareness, and drive engagement through creative content and strategic ad placements.</li> 
                        <li><strong>Content Creation:</strong> Captivate your audience with high-quality content. From blog posts and articles to infographics and videos, our content creation services are aimed at delivering valuable and relevant information that aligns with your brand's voice and goals.</li> 
                        <li><strong>Pay-Per-Click (PPC) Advertising:</strong> Drive targeted traffic to your website with PPC campaigns on Google Ads and other platforms. Our data-driven approach ensures that your ad spend is optimized for maximum return on investment by targeting the right keywords and demographics.</li> 
                        <li><strong>Email Marketing:</strong> Connect with your audience directly through personalized email campaigns. We design and execute email marketing strategies that nurture leads, boost engagement, and drive conversions through well-crafted messages and targeted lists.</li> 
                        <li><strong>Analytics and Reporting:</strong> Measure the success of your marketing efforts with detailed analytics and reports. We continuously monitor performance, track key metrics, and provide insights to refine strategies and improve results.</li> 
                    </ul> 
                    <p class="text-justify">Our approach is data-driven, meaning we continuously analyze and adjust our strategies to maximize your ROI. We understand that each business is unique, which is why we customize our services to align with your specific goals and objectives. Whether you're looking to increase traffic, generate leads, or boost sales, our dedicated team is committed to helping you achieve your marketing goals with innovative solutions and exceptional support.</p></div>
            </div>
            </section>
        </div>
    </div>
    
<!-- Service end -->

<!-- Technology Capabilities Start -->
    <div class="container py-5">
        <div class="topspace">
            <div class="row justify-content-center">
                <div class="col-md-12 col-md-12">
                    <div class="home-page-about-us-new home-industries-main-div services-div-main">
                        <h1 class="home-page-industries">Our Technology Capabilities</h1>

                        <div class="row row_home_div">
                            <div class="col-md-6">
                                <div class="border-home"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="border-home"></div>
                            </div>
                        </div>
                        <p class="home-page-industries-new">
                            We leverage a diverse array of cutting-edge tools to meticulously customize our services to align
                            with your unique business needs. Our approach is centered around maximizing IT investments and
                            driving impactful digital transformation. By addressing critical pain points and enhancing
                            operational efficiencies, we empower businesses to deliver exceptional customer experiences and
                            achieve sustained success.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Technology Capabilities End -->
<!-- Programming Languages Start -->
 <div class="container-lg mt-5">
    <div class="tab_section_images">
        <div class="featurette" id="about">
            <div class="tabbable" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tech-capabilities-button-changes d-flex justify-content-center align-items-center text-center w-100" role="tablist">
                    <li role="presentation" [ngClass]="{'active-tab': activeTab === 'Section1', 'inactive-tab': activeTab !== 'Section1'}" class="w-25">
                        <a (click)="setActiveTab('Section1')" aria-controls="home" role="tab">
                            <img src="../../assets/language-icons.png" alt="Programming Languages" width="100px">
                            <p class="tab-p fw-bold fs-3">Programming Languages</p>
                        </a>
                    </li>
                    <li role="presentation" [ngClass]="{'active-tab': activeTab === 'Section2', 'inactive-tab': activeTab !== 'Section2'}" class="w-25">
                        <a (click)="setActiveTab('Section2')" aria-controls="profile" role="tab">
                            <img src="../../assets/platform-and-framwork-icon.png" alt="Platform & Frameworks" width="100px">
                            <p class="tab-p fw-bold fs-3">Platform & Frameworks</p>
                        </a>
                    </li>
                    <li role="presentation" [ngClass]="{'active-tab': activeTab === 'Section3', 'inactive-tab': activeTab !== 'Section3'}" class="w-25">
                        <a (click)="setActiveTab('Section3')" aria-controls="messages" role="tab">
                            <img src="../../assets/database-icon.png" alt="Databases" width="100px">
                            <p class="tab-p fw-bold fs-3">Databases</p>
                        </a>
                    </li>
                </ul>

                <!-- Title -->
                <h2 class="tab-title" [ngClass]="{
                        'title-section1': activeTab === 'Section1', 
                        'title-section2': activeTab === 'Section2', 
                        'title-section3': activeTab === 'Section3'
                    }">
                    {{ activeTab === 'Section1' ? 'Programming Languages' : (activeTab === 'Section2' ? 'Platform & Frameworks' : 'Databases') }}
                </h2>

                <!-- Tab panes -->
                <div class="tab-content tech-capabilities-tab-content">
                    <!-- Section 1: Programming Languages -->
                    <div role="tabpanel" class="tab-pane" [class.active]="activeTab === 'Section1'" id="Section1" style="align-items: center; justify-content: center; text-align: center;">
                        <div class="image-grid">
                            <div class="image-item col-md-2 col-sm-4 col-xs-6" style="display: flex;" *ngFor="let lang of programmingLanguages">
                                <img [src]="lang.img" [alt]="lang.name" width="180px">
                            </div>
                        </div>
                    </div>

                    <!-- Section 2: Platform & Frameworks -->
                    <div role="tabpanel" class="tab-pane" [class.active]="activeTab === 'Section2'" id="Section2">
                        <div class="image-grid">
                            <div class="image-item col-md-2 col-sm-6 col-xs-12" *ngFor="let framework of platformsFrameworks">
                                <img [src]="framework.img" [alt]="framework.name" width="180px">
                            </div>
                        </div>
                    </div>

                    <!-- Section 3: Databases -->
                    <div role="tabpanel" class="tab-pane" [class.active]="activeTab === 'Section3'" id="Section3">
                        <div class="image-grid">
                            <div class="image-item col-md-2 col-sm-6 col-xs-12" *ngFor="let db of databases">
                                <img [src]="db.img" [alt]="db.name" width="180px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Programming Languages End -->
   <app-footer></app-footer>